.col-12
  .card.mt-2{:style => "width: 20rem; margin: auto;"}
    .card-body
      %h5.card-title.text-center Reglamento
      %p.card-text
        Boleto cortesía de RifaMax®<br><br>
        RifaMax® solo se hace responsable del pago a la persona que aparece como el rifero vendedor de este boleto, si resultase ganador del premio correspondiente al TRIPLE ZULIA de la lotería del Zulia sorteo Triple A de las 7:05 pm más el signo del sorteo ZODIACAL DEL ZULIA de las 7:05 pm hasta por el monto que el mismo haya sido comprado para dicho sorteo.<br><br>
        RifaMax® no se hace responsable bajo ningún término cancelar premio a rifero que no compre antes de la hora del sorteo ya que es única y exclusiva responsabilidad del rifero responsable comprar el número antes de la hora del sorteo.<br><br>
        Rifamax® solo le cancelará premios al rifero responsable en caso de haber comprado el número ganador.<br><br/>